#game-field
{
    border: 1px solid var(--game-line-color);
    width: max-content;
    margin: auto;
}

.field-row {
    display: table;
    table-layout: fixed;
}

.field-big-point
{
    color: var(--big-point-color);
}

.field, .field-big-point, .pacman-spawn
{
    height: var(--field-size);
    width: var(--field-size);
    text-align: center;
    display: table-cell;
    padding: 1px;
    font-size: xx-large;
}

.border-field
{
    border: solid 1px var(--game-line-color);
    display: table-cell;
    width: var(--field-size);
}

#error-alert
{
    background-color: red;
    padding: 5px;
    color: black;
    border: solid 1px #FF4D4D;
    margin-bottom: 2%;
}