:root{
    --game-line-color: lime;
    --background: black;
    --field-size: 5vh;
    --point-color: yellow;
    --big-point-color: lightblue;
}

html {margin: 0;}

html, body {
    min-height: 100%;
    background-color: var(--background);
    color: var(--point-color);
}