.pacman-header
{
    color: yellow;
    text-align: center;
    background-color: var(--background);
    margin: 0;
    padding: 5px;
}

#pacman
{
    height: 3vh;
    width: 3vh;
    vertical-align: middle;
}